@model SwissKip.Web.Models.OwnerPanelModel
@{
    ViewBag.Title = "Owner";
}
<div id="contenido">
  	<div style="float:left; width:1000px;">
    	<div style="z-index:0;">
        	<div style="float:left;"><a href="#" onMouseDown="MM_swapImage('menu11','','/Content/images/owner.png',1)" onMouseOver="MM_swapImage('menu11','','/Content/images/owner.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/owner.png" border="0" name="menu11"></a></div>
            <div style="float:left; padding-left:8px;"><a href="#" onMouseDown="MM_swapImage('menu12','','/Content/images/testigo.png',1)" onMouseOver="MM_swapImage('menu12','','/Content/images/testigo-on.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/testigo.png" border="0" name="menu12"></a></div>
            <div style="float:left; padding-left:8px;"><img src="/Content/images/beneficiario.png" border="0"/></div>
        </div>
        <div style="float:left; margin-top:-1px;">
    		<div style="float:left; width:955px; height:1px; background:#b5b5b3;"></div>
        </div>
        <div style="float:left; width:450px; padding-top:40px;">
            @Html.Partial("_MyAccountWidget",Model.MyAccountWidget)
            <div class="rojo22" style="float:left; padding-top:15px;">My stuff</div>
            <div style="float:left; width:444px; height:1px; background:#b5b5b3;"></div>
            <div style="float:left; padding-left:20px; padding-top:25px;">
                <div style="float:left; width:200px;">
                    <div class="negro12" style="float:left; width:200px;"><strong> Videos:</strong> </div>
                    <div class="negro12" style="float:left; width:200px; padding-top:5px;"><strong> Fotos:</strong> </div>
                    <div class="negro12" style="float:left; width:200px; padding-top:5px;"><strong> Archivos:</strong> </div>
                </div>
                <div style="float:left; width:225px; padding-top:0px;">
                	<div class="negro12" style="float:left; width:200px;"><strong> Cuentas Digitales:</strong> </div>
                    <div class="negro12" style="float:left; width:200px; padding-top:5px;"><strong>Cuentas Bancarias:</strong> </div>
                    <div style="float:left; padding-left:141px; padding-top:23px;"><a href="/BankAccount/Index"><img src="/Content/images/vertodo.png" border="0"></a></div>
                </div>
            </div>
        </div>
        <div style="float:left; width:450px; padding-left:50px; padding-top:58px;">
           <div style="float:left; width:445px; height:105px; background:#f2f2f2;">
           	<div style="float:left; padding-top:15px; width:405px;">
           		<div class="rojo13" align="right">Estas usando la cuenta gratuita de Swisskip.</div>
                <div class="negro12" style="padding-top:3px;" align="right">Quedan <strong>29 días</strong> libres para probarla y 
                <strong>0.4 megas</strong> de espacio libre.</div>
                <div style="padding-top:15px;" align="right"><a href="#"><img src="/Content/images/comprar-version-completa.png" border="0"></a></div>
            </div>
           </div>
           <div class="rojo22" style="padding-top:28px; float:left;">Últimos movimientos</div>
            <div style="float:left; width:444px; height:1px; background:#b5b5b3;"></div>
            <div style="float:left; padding-left:20px; padding-top:20px;">
                <div style="float:left; width:400px;">
                    <div class="negro12" style="float:left; width:400px;"><strong> 24/02/2012:</strong> Guardó 2 items dentro de la carpeta de fotos.</div>
                    <div class="negro12" style="float:left; padding-top:5px; width:400px;"><strong> 20/02/2012:</strong> Guardó 2 items dentro de la carpeta de fotos.</div>
                    <div class="negro12" style="float:left; padding-top:5px; width:400px;"><strong> 18/02/2012:</strong> Guardó 2 items dentro de la carpeta de fotos.</div>
                    <div class="negro12" style="float:left; padding-top:5px; width:400px;"><strong> 24/01/2012:</strong> Guardó 2 items dentro de la carpeta de fotos.</div>
                    <div class="negro12" style="float:left; padding-top:5px; width:400px;"><strong> 20/12/2011:</strong> Designo un testigo nuevo.</div>
                    <div style="float:left; width:380px; padding-left:28px; padding-top:30px;" align="right"><a href="#"><img src="/Content/images/vertodo.png" border="0"></a></div>
                </div>
            </div>
        </div>
    </div>
  </div>