@{
    ViewBag.Title = "Banned Account";
}

<div style="text-align: center;">
    <div class="black22">
        <br />
        SwissKip banned account
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="boxresponse">
        <h2>Your account have been banned for 24 hours</h2>
        <p>
            Due to the fact that you have tried several times accessing your generated token number. You account have been banned for 24 hours.
        </p>
    </div>
</div>
