@{
    ViewBag.Title = "Blocked Account";
}

<div style="text-align: center;">
    <div class="black22">
        <br />
        SwissKip blocked account
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="boxresponse">
        <h2>Your account have been blocked</h2>
        <p>
            Please click on this url to <a href="ChangePassword">change your password</a>.
        </p>
    </div>
</div>
