@{
    ViewBag.Title = "Confirmation";
}

<div style="text-align: center;">
    <div class="black22">
        <br />
        Create your SwissKip account
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="boxresponse">
        <h2>Confirm Your Email Address</h2>
        <p>
            Thank you for registering. Please check your email for a confirmation
        request with a link that will confirm your account.
        </p>
    </div>
</div>
