@using System.Configuration
@model SwissKip.Web.Models.UserCreateModel
@{
    ViewBag.Title = "Finish";
    if (Session["Signin1Store"] == null || Session["Signin2Store"] == null || Session["Signin3Store"] == null)
    {
        Session["Signin1Store"] = null;
        Session["Signin2Store"] = null;
        Session["Signin3Store"] = null;
        Response.Redirect("Signin1");
    }
}

<div style="clear:both; height:60px;"></div>

<div id="cajaregistro">
    
    <div class="interior-customize">
            <div style="padding-bottom:10px;padding-top:7px;"><span class="rojo22">Step 6 of 6:</span> <span class="black22">Finish and load your Kip</span></div>
            <div class="textcustomize">
            <span class="rojo17">Congratulations!</span><br /><br />            You have finished the Registration Process and your Swisskip is now up and ready for you to load your Kip with any kind of documents.<br /><br />            In the next days Swisskip will keep you informed of the status of your Data-Heir and your Passing Whitnesses. Should you need to make any change, just head up to your personal account page.<br /><br />    
         </div>
    </div>


     <div style="width:540px;margin:auto;overflow:hidden;">
                <div style="float:right;margin-bottom:70px;">
                    <a href="/Authentication/SignIn"><div style="float:right;"><input type="button" value="Go to your Kip" class="botofinish" /></div></a>
                </div>
     </div>


    <div style="clear:both;"></div>
    <div class="registropasos">
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
    </div>
</div>

  