@using System.Configuration
@model SwissKip.Web.Models.UserCreateModel
@{
    ViewBag.Title = "Finish";
}

<div style="clear:both; height:25px;"></div>

<div id="cajaregistro">
    
    <div class="interior-customize">
            <div style="padding-bottom:10px;padding-top:15px;"><span class="rojo22">Step 5 of 5:</span> <span class="black22">Finnish and load your Kip</span></div>
            <div class="textcustomize">
            <span class="rojo17">Congratulations!</span><br /><br />            You have finished the Registration Process and your Swisskip is now up and ready for you to load your Kip with any kind of documents.<br /><br />            In the next days Swisskip will keep you informed of the status of your Data-Heir and your Passing Whitnesses. Should you need to make any change, just head up to your personal account page.<br /><br />    
         </div>
    </div>

    <div style="float:right; margin-right:200px; margin-top:20px;margin-bottom:70px;">
        <div style=" float:right;"><a href="/Owner"><input type="button" value="Go to your Kip" class="button red"></a></div>

    </div>

    <div style="clear:both;"></div>
    <div class="registropasos">
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
            <div style="float:left;"><img src="/content/images/lineprocessok.gif" /></div>
            <div style="float:left;"><img src="/content/images/processok.gif" /></div>
    </div>
    }
</div>

  