@model List<SwissKip.Web.Models.OwnerByWitnessModel>
@{
    ViewBag.Title = "Witness";
}

<div id="contenido">
  	<div style="float:left; padding-left:30px;">
    @using (Html.BeginForm())
    {
    	<div style="z-index:0;">
        	@if (this.Model[0].IsOwner)
            {    <div style="float:left;"><a href="/Owner/" onMouseDown="MM_swapImage('menu11','','/Content/images/owner-off.png',1)" onMouseOver="MM_swapImage('menu11','','/Content/images/owner.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/owner-off.png" border="0" name="menu11"></a></div>  }
             else
            {    <div style="float:left;"><img src="/Content/images/owner-off.png" border="0" name="menu11"></div>  }
            
            @if (this.Model[0].IsWitness)
            {    <div style="float:left; padding-left:8px;"><a href="/Witness/" onMouseDown="MM_swapImage('menu12','','/Content/images/testigo-on.png',1)" onMouseOver="MM_swapImage('menu12','','/Content/images/testigo-on.png',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/testigo-on.png" border="0" name="menu12"></a></div>  }
            else
            {    <div style="float:left; padding-left:8px;"><img src="/Content/images/testigo-on.png" border="0" name="menu12"></div>  }
            
            @if (this.Model[0].IsDataheir)
            {    <div style="float:left; padding-left:8px;"><a href="/Recipient/" onMouseDown="MM_swapImage('menu13','','/Content/images/beneficiario.png',1)" onMouseOver="MM_swapImage('menu13','','/Content/images/bot_beneficiario_rojo.gif',0)" onMouseOut="MM_swapImgRestore()"><img src="/Content/images/beneficiario.png" border="0" name="menu13"/></a></div>    }
            else
            {    <div style="float:left; padding-left:8px;"><img src="/Content/images/beneficiario.png" border="0"/></div>  }
        </div>
        <div style="float:left; margin-top:-1px;">
    		<div style="float:left; width:955px; height:1px; background:#b5b5b3;"></div>
        </div>
        <div style="float:left; padding-left:17px; width:830px;">
            <div style="float:left; padding-top:40px; width:700px;" class="negro14">You are witness of <strong>@Model.Count owner(s):</strong></div>
        </div>
        <div>
            @for (int index = 0; index < this.Model.Count; index++)
            {
                var witnessFromOwner = this.Model[index];

                <div style="float:left; padding-left:17px; width:830px;">
                    <div style="float:left; padding-top:15px;" class="negro14"><strong>@witnessFromOwner.FullName</strong></div>
                    <div style="float:left; padding-top:3px; width:850px;" class="negro14">Usted es testigo de @witnessFromOwner.OwnerFullName.</div>
                    @*<div style="float:left; padding-top:3px; width:850px;" class="negro14">El <strong>XXXXXX</strong> se le envió una alerta para confirmar que sigue siendo testigo activo. Esta se encuentra <strong>XXXXXX</strong>.</div>*@
                    <div style="float:left; padding-top:14px;">
                        <div style="float:left;" id="Enviar">@*<a href="#" onMouseDown="MM_swapImage('menu13','','/Content/images/reportar-muerte.png',1)" onMouseOver="MM_swapImage('menu13','','/Content/images/reportar-muerte-on.png',0)" onMouseOut="MM_swapImgRestore()">*@<input type="image" value="Enviar" src="/Content/images/reportar-muerte-on.png" border="0" name="menu13">
                        </div>
                        <div style="float:left; padding-left:7px;"><img src="/Content/images/confirmar.png" style="visibility:hidden"></div>
                    </div>
                </div>
                
                if (index != Model.Count)
                {
                    <div style="float:left; width:955px; margin-top:24px; height:1px; background:#b5b5b3;"></div>
                }
            }
        </div>
    }
    </div>
  </div>
