USE [SwissKip]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[Bank]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[BankAccount]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[Country]
GO
/****** Object:  Table [dbo].[EmailInvitation]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[EmailInvitation]
GO
/****** Object:  Table [dbo].[OwnerRecipient]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[OwnerRecipient]
GO
/****** Object:  Table [dbo].[OwnerWitness]    Script Date: 08/20/2012 01:19:13 ******/
DROP TABLE [dbo].[OwnerWitness]
GO
/****** Object:  Table [dbo].[OwnerWitness]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerWitness](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[WitnessId] [int] NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[OwnerDied] [bit] NOT NULL,
 CONSTRAINT [PK_Witness] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OwnerWitness] ON
INSERT [dbo].[OwnerWitness] ([Id], [OwnerId], [WitnessId], [Confirmed], [OwnerDied]) VALUES (7, 3, 5, 0, 0)
INSERT [dbo].[OwnerWitness] ([Id], [OwnerId], [WitnessId], [Confirmed], [OwnerDied]) VALUES (8, 6, 9, 0, 0)
INSERT [dbo].[OwnerWitness] ([Id], [OwnerId], [WitnessId], [Confirmed], [OwnerDied]) VALUES (9, 11, 6, 0, 0)
SET IDENTITY_INSERT [dbo].[OwnerWitness] OFF
/****** Object:  Table [dbo].[OwnerRecipient]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerRecipient](
	[OwnerId] [int] NOT NULL,
	[RecipientId] [int] NOT NULL,
 CONSTRAINT [PK_OwnerRecipient] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OwnerRecipient] ([OwnerId], [RecipientId]) VALUES (6, 13)
/****** Object:  Table [dbo].[EmailInvitation]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailInvitation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[OwnerId] [int] NOT NULL,
 CONSTRAINT [PK_WitnessInvitation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailInvitation] ON
INSERT [dbo].[EmailInvitation] ([Id], [FirstName], [LastName], [Email], [OwnerId]) VALUES (1, N'Alberto', N'Rodriguez', N'arodriguez@gmail.com', 3)
INSERT [dbo].[EmailInvitation] ([Id], [FirstName], [LastName], [Email], [OwnerId]) VALUES (2, N'Miguel', N'Paredez', N'mparedez@gmail.com', 3)
INSERT [dbo].[EmailInvitation] ([Id], [FirstName], [LastName], [Email], [OwnerId]) VALUES (3, N'Carlos', N'Pacheco', N'cpachelo@gmail.com', 3)
SET IDENTITY_INSERT [dbo].[EmailInvitation] OFF
/****** Object:  Table [dbo].[Country]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([Id], [Name]) VALUES (1, N'AFGHANISTAN')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (2, N'ALAND ISLANDS')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (3, N'ALBANIA')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Country] OFF
/****** Object:  Table [dbo].[BankAccount]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[BankAccountNumber] [int] NOT NULL,
 CONSTRAINT [PK_BankAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bank]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BankId] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 08/20/2012 01:19:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[CountryId] [int] NULL,
	[Birthday] [date] NULL,
	[IsOwner] [bit] NOT NULL,
	[IsWitness] [bit] NOT NULL,
	[IsRecipient] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON
INSERT [dbo].[Account] ([Id], [FirstName], [LastName], [UserName], [Password], [Email], [EmailConfirmed], [CountryId], [Birthday], [IsOwner], [IsWitness], [IsRecipient]) VALUES (3, N'Luis', N'Perez', N'lperez', N'lperez', N'lperez@mail.com', 1, NULL, NULL, 1, 0, 0)
INSERT [dbo].[Account] ([Id], [FirstName], [LastName], [UserName], [Password], [Email], [EmailConfirmed], [CountryId], [Birthday], [IsOwner], [IsWitness], [IsRecipient]) VALUES (5, N'Alberto', N'Rodriguez', N'arodriguez', N'arodriguez', N'arodriguez@gmail.com', 1, NULL, NULL, 0, 1, 0)
INSERT [dbo].[Account] ([Id], [FirstName], [LastName], [UserName], [Password], [Email], [EmailConfirmed], [CountryId], [Birthday], [IsOwner], [IsWitness], [IsRecipient]) VALUES (6, N'Fausto', N'Cardenas', N'fcardenas', N'fcardenas', N'fcardenas@mail.com', 1, 1, NULL, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Account] OFF
