USE [master]
GO

/****** Delete Database ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'swisskip')
BEGIN
	EXEC msdb.dbo.sp_delete_database_backuphistory @database_name = N'swisskip'
	ALTER DATABASE [swisskip] SET SINGLE_USER WITH ROLLBACK IMMEDIATE
	DROP DATABASE [swisskip]
END
GO

USE [master]
GO

CREATE DATABASE [swisskip]
GO

USE [swissKip] 
GO

/****** Object:  Table [dbo].[Country]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Valor] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Master]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
    [TokenExpirationTime] [int] NOT NULL,
	[Size] [int] NOT NULL,
	[Expiration_Time] [int] NOT NULL,
	[Price] [numeric](18, 2) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Master] ([Description], [TokenExpirationTime], [Size], [Expiration_Time], [Price], [CreatedDate], [Status]) VALUES ('Trial', 150, 20, 360, 500, getdate(), 1)
/****** Object:  Table [dbo].[Bank]    Script Date: 11/03/2012 16:56:06 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--CREATE TABLE [dbo].[Bank](
--	[Id] [int] IDENTITY(1,1) NOT NULL,
--	--[BankId] [int] NOT NULL,
--	[Description] [nvarchar](200) NOT NULL,
-- CONSTRAINT [PK_Bank] PRIMARY KEY CLUSTERED 
--(
--	[Id] ASC
--)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
--) ON [PRIMARY]
--GO
/****** Object:  Table [dbo].[Icon]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Icon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Icon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Colour]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Colour] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CountryId] [int] NULL,
	[IconId] [int] NULL,
	[ColourId] [int] NULL,
	[SecretPhrase] [nvarchar] (500) NULL,
	[TokenNumber] [int] NULL,
	[Birthday] [date] NULL,
	[CreatedDate] [date] NOT NULL,
	[ModifiedDate] [date] NULL,
	[Status] [int] NOT NULL,
	[Tried] [int] NOT NULL,
	[Blocked] [bit] NOT NULL,
	[Banned] [bit] NOT NULL,
	[IsOwner] [bit] NULL,
	[IsDataheir] [bit] NULL,
	[IsWitness] [bit] NULL,
	[MailSentToBeAsDataheir] [bit] NULL,
	[MailSentToBeAsWitness] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_UserType]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_UserType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserIdFather] [int] NULL,
	[UserId] [int] NOT NULL,
	[UserTypeId] [int] NOT NULL,
	[EmailConfirmed] [int] NULL,
	[CreatedDate] [date] NOT NULL, 
	[ReportedDeath] [int] NULL,
	[OwnerDead] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_User_UserType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Detailed] [nvarchar](500) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitalAccount]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Website] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_DigitalAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 11/03/2012 16:56:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BankName] [nvarchar] (250) NOT NULL,
	[BankAccountNumber] [nvarchar] (250) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CountryId] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_BankAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BankAccount_Bank]    Script Date: 11/03/2012 16:56:06 ******/
--ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_Bank] FOREIGN KEY([BankId])
--REFERENCES [dbo].[Bank] ([Id])
--GO
--ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_Bank]
--GO
/****** Object:  ForeignKey [FK_BankAccount_User]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[BankAccount]  WITH CHECK ADD  CONSTRAINT [FK_BankAccount_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[BankAccount] CHECK CONSTRAINT [FK_BankAccount_User]
GO
/****** Object:  ForeignKey [FK_DigitalAccount_User]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[DigitalAccount]  WITH CHECK ADD  CONSTRAINT [FK_DigitalAccount_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[DigitalAccount] CHECK CONSTRAINT [FK_DigitalAccount_User]
GO
/****** Object:  ForeignKey [FK_Log_Message]    Script Date: 11/03/2012 16:56:06 ******/
--ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_Message] FOREIGN KEY([MessageId])
--REFERENCES [dbo].[Message] ([Id])
--GO
--ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_Message]
--GO
/****** Object:  ForeignKey [FK_Log_User]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_User]
GO
/****** Object:  ForeignKey [FK_User_Country]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Country]
GO
/****** Object:  ForeignKey [FK_User_UserType_User]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[User_UserType]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[User_UserType] CHECK CONSTRAINT [FK_User_UserType_User]
GO
/****** Object:  ForeignKey [FK_User_UserType_UserType]    Script Date: 11/03/2012 16:56:06 ******/
ALTER TABLE [dbo].[User_UserType]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType_UserType] FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserType] ([Id])
GO
ALTER TABLE [dbo].[User_UserType] CHECK CONSTRAINT [FK_User_UserType_UserType]
GO
INSERT INTO [dbo].[Status] ([Description]) VALUES ('Activo');
INSERT INTO [dbo].[Status] ([Description]) VALUES ('Inactivo');
GO
INSERT INTO [dbo].[UserType] ([Description], [status]) VALUES ('Owner', 1);
INSERT INTO [dbo].[UserType] ([Description], [status]) VALUES ('Dataheir', 1);
INSERT INTO [dbo].[UserType] ([Description], [status]) VALUES ('Witness', 1);
GO
SET IDENTITY_INSERT [dbo].[Country] ON
INSERT [dbo].[Country] ([Id], [Name]) VALUES (1, N'AFGHANISTAN')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (2, N'ALAND ISLANDS')
INSERT [dbo].[Country] ([Id], [Name]) VALUES (3, N'ALBANIA')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Country] OFF

INSERT [dbo].[Colour] ([Description], [Status]) VALUES (N'#af7627', 1)
INSERT [dbo].[Colour] ([Description], [Status]) VALUES (N'#00ff00', 1)
INSERT [dbo].[Colour] ([Description], [Status]) VALUES (N'#ff0000', 1)

INSERT [dbo].[Icon] ([Description], [Status]) VALUES (N'/content/images/candado.png', 1)
INSERT [dbo].[Icon] ([Description], [Status]) VALUES (N'/content/images/caja.png', 1)
INSERT [dbo].[Icon] ([Description], [Status]) VALUES (N'/content/images/camara.png', 1)

--Select u.Id, u.FirstName + ' ' + u.LastName as FullName, u.IconId, i.Description Description1, u.ColourId, c.Description Description2, u.SecretPhrase, u.TokenNumber  from [dbo].[User] u
--inner join [dbo].[Icon] i on u.IconId=i.Id 
--inner join [dbo].[Colour] c on u.ColourId=c.Id 
--where u.Id=1
--select * from Colour

--DELETE [User_UserType]
--DBCC CHECKIDENT ([User_UserType], RESEED, 0)
--GO
--DELETE [User]
--DBCC CHECKIDENT ([User], RESEED, 0)
--GO

--drop table [dbo].[user]

--DELETE [Colour]
--DBCC CHECKIDENT ([Colour], RESEED, 0)
--GO