@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "Contact";
}

<div id="contenido">
        <h1>Contact</h1>
        <div class="lineagris"></div>
        <div class="texto14">
			<div style="margin-left:140px;">
				<div class="interior1-form-1">
					<div class="interior1-form-text1 rojo20">Name</div>
					<div class="interior1-form-inpt1"><input name="username" type="text" class="cajausername" /></div>
				</div>
				<div class="interior1-form-2">
					<div class="interior1-form-text1 rojo20">Email</div>
					<div class="interior1-form-inpt1"><input name="username" type="text" class="cajausername" /></div>
				</div>
				<div class="interior1-form-2">
					<div class="interior1-form-text1 rojo20">Comment</div>
					<div class="interior1-form-inpt1">
					<TEXTAREA NAME="" ROWS="7" COLS="" class="caja345x130"></TEXTAREA>
					</div>
				</div>
				<div class="interior1-crear-c"><a href="#"><img src="images/send.png" border="0"/></a></div>
			</div>
        </div>
  </div>
