@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "Faqs";
}

<div style="clear:both; height:30px;"></div>

<div id="cajaregistro" align="center">


    <div class="interior-informacion">
        <h1>FAQs</h1>
        <div class="lineagris740"></div>
        <div class="negro17">
What is Swisskip?<br /><br />Why do I need a Swisskip account?<br /><br />Is the content I store in Swisskip safe?<br /><br />How can Swisskip knows that I have really died?<br /><br />Can I try Swisskip for free?<br /><br />What´s the price of a regular Swisskip Account?<br /><br />What is a Data-Heir?<br /><br />What is a Passing-Witness?<br /><br />What do yo mean by “the Kip”?<br /><br />Does my Passing Witnesses need to buy a Swisskip account?<br /><br />Does my Data-Heir need to buy a Swisskip account?<br /><br />Can I choose more than one Data-Heir?<br /><br />How many Passing Witnesses do I need?<br /><br />What if someone tells Swisskip that I have died, but it is not true?<br /><br />Why you need only 80% of the Passing Witnesses to confirm? Why not 100%?<br /><br />What if the 80% confirmation is never reached.Can anyone request access to your Swisskip in any other way?In which countries is Swisskip available?Is Swisskip available in other languages rather than english?Is Swisskip really swiss?

        </div>
    </div>

</div>