@{
    Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "HowIsTheUse";
}

<div id="contenido">
    <h1>What's the use?</h1>
    <div class="lineagris"></div>
    <div class="texto14">
        (Agencias). El desempleo en la Zona Euro alcanzó en febrero un nivel de 10,8% marcando un nuevo récord en 15 años, informó hoy la oficina de estadísticas de la Unión Europea (Eurostat).
    	<br />
        <br />
        De esta manera, la desocupación afectó a 17,1 millones personas, 162.000 más que en enero y 1,48 millones más que en febrero del año pasado. Asimismo, de los 17 países que integran el bloque, siete contaban con tasas de desempleo superiores al 10%.
    	<br />
        <br />
        <strong>RESULTADOS POR PAÍSES</strong><br />
        El nivel del desempleo en España continúa siendo el peor de la Zona Euro: se situó en un nivel de 23,6%. Le sigue Grecia (21%), Portugal (15%) e Irlanda (14,7%).
        <br />
        <br />
        En Italia, la desocupación afectó en febrero al 9,3% de la población económicamente activa, mientras que el Francia se registró un nivel de 10%.
        <br />
        <br />
        En contraste, detalló Eurostat, los menores niveles de desempleo del bloque se registraron en Austria (4,2%), Holanda (4,9%), Luxemburgo (5,2%) y Alemania (5,7%),
    </div>
</div>
