@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "Index";
}

<div style="padding-top: 35px; overflow:hidden;padding-left: 27px;padding-right: 27px;">
    <div id="textcont">
        <strong>
        <span class="textogrande">What if God <br />
        calls you... <span class="textogranderojo">today?</span><br /></span>
        <div class="textonegrita" style="margin-top:10px;">(He has that nasty habit of not telling you in advance.)</div>
        </strong>
    </div>
    <div id="video">
        <script type='text/javascript' src='http://get-embed.wistia.com/javascripts/head.load.min.js'></script>
        <script type='text/javascript'>            var proto = document.location.protocol, playlistUrl = proto + '//' + 'static.wistia.com/playlists/playlist.js', playlistEmbedUrl = proto + '//' + 'get-embed.wistia.com/embed/playlists/7b6cd67e6a.js?theme=http://50.23.108.136/cloudfront_html/ronty&amp;playthrough=true&amp;autoplay=false'; head.js(playlistUrl, playlistEmbedUrl);</script>
    </div>
</div>


<div style="padding-top: 35px; overflow:hidden;padding-left: 45px;padding-right: 45px;">
    <div style="width:265px; float:left; margin-top:10px;">
        <div class="homesubtit">SwissKip: your very last resource in earth.</div>

        <div class="homesubtit2">A SwissKip account let’s you choose who will inherit your online properties.</div>

        <div class="homesee"><a href="/Home/TheIdea">See more</a></div>
    </div>
    
    <div style="margin-left:25px; margin-right: 25px; float:left; width:1px;"><img src="/Content/images/lineahome.jpg" border="0" /></div>

    <div style="width:265px; float:left;margin-top:10px;">
        <div class="homesubtit">Patented Unlimited Passing-Witnesses System.</div>

        <div class="homesubtit2">Because there are no phones in heaven to confirm the sad news and activate Swisskip.</div>

        <div class="homesee"><a href="/Home/TheProcess">See more</a></div>
    </div>
    <div style="margin-left:25px; margin-right: 25px; float:left; width:1px;"><img src="/Content/images/lineahome.jpg" border="0" /></div>
    <div style="width:265px; float:left;margin-top:10px;">
        <div class="homesubtit">Give it all. You won’t need it anymore.
        </div>

        <div class="homesubtit2">Facebook accounts, mail accounts, online banking accounts.... Be generous: you will be off-line for a while.</div>

        <div class="homesee"><a href="/Home/Security">See more</a></div>
    </div>
    
</div>