@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "PrivacyPolicy";
}


<div style="clear:both; height:30px;"></div>

<div id="cajaregistro" align="center">


    <div class="interior-informacion">
        <h1>Privacy Policy</h1>
        <div class="lineagris740"></div>
        <div class="negro17">

        Thank you for using Swisskip! These terms of service (the “Terms”) govern your access to and use of Swisskip (“we” or “our”) websites and services (the “Services”), so please carefully read them before using the Services.<br /><br />By using the Services you agree to be bound by these Terms. If you are using the Services on behalf of an organization, you are agreeing to these Terms for that organization and promising that you have the authority to bind that organization to these terms. In that case, “you” and “your” will refer to that organization.<br /><br />You may use the Services only in compliance with these Terms. You may use the Services only if you have the power to form a contract with Swisskip and are not barred under any applicable laws from doing so. The Services may continue to change over time as we refine and add more features. We may stop, suspend, or modify the Services at any time without prior notice
<br /><br />
        </div>
    </div>

</div>