@{
    ViewBag.Title = "Security";
}

<div style="clear:both; height:30px;"></div>

<div id="cajaregistro" align="center">


    <div class="interior-informacion">
        <h1>Acceptable use Policy</h1>
        <div class="lineagris740"></div>
        <div class="negro17">

        Swisskip is used by millions of people, and we are proud of the trust placed in us. In exchange, we trust you to use our services responsibly.<br /><br />        You agree not to misuse the Swisskip services. For example, you must not, and must not attempt to, use the services to do the following things.<br /><br />        • probe, scan, or test the vulnerability of any system or network;<br /><br />        • breach or otherwise circumvent any security or authentication measures;<br /><br />        • access, tamper with, or use non-public areas of the Service, shared areas of the Service you have not been invited to, Swisskip (or our service providers’) computer systems;<br /><br />        • interfere with or disrupt any user, host, or network, for example by sending a virus,<br /><br />

        </div>
    </div>

</div>