@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "TheIdea";
}

<div id="contenido">
    <h1>Death isn´t the end of life anymore</h1>
    <div class="lineagris"></div>
    <div class="texto14">
        <div style="width:350px;float:left; line-height:22px;">

        Your Swisskip account lets you do one more thing after you die: pass all your online properties to the person you decide. (Let´s call that person your Data-Heir).
        <br /><br />
        Think about it: each day you store more and more information online. All that info (bank accounts,
        insurance accounts, stock accounts, mail accounts, social network accounts...) are in your computer, or at the cloud, or at the web, or in your tablet, or in
        your smartphone... locked behind passwords, out
        of reach of your family, friends, or partners.
        <br /><br />
        And when you are not around anymore... well, that’s when your Swisskip account will come <br /><br />
        Swisskip is a simple and ultra-secure solution that helps you pass your important information to your chosen Data-Heir.<br /><br />

        </div>
        <div style="width:350px;float:left; margin-left:20px;line-height:22px;"><img src="/Content/images/idea1.jpg" border="0" vspace="2" /><br />
        What seems very complex, has been made simple and secure by Swisskip.<br />
        </div>

        <div style="clear:both; height:25px;"></div>

        <span class="rojo18"><strong>“One more thing, honey...”</strong></span><br /><br />

        <div style="width:350px;float:left; line-height:22px;">Choose any one you like for your Data-Heir, your spouse, your husband, your son, your daughter, your closest relative, your best friend, your partner. All we need is a name and a e-mail. Swisskip will take care of the rest.</div>
        <div style="width:350px;float:left; margin-left:20px; line-height:22px;">Your Data-Heir will not have access to any of your data until you are not with us anymore. Once your passing is confirmed, he or she will receive a last letter from you, with the access to your Swisskip account.</div>
        <div style="clear:both; height:20px;"></div>

        <img src="/Content/images/idea2.jpg" border="0" /><br /><br />

        <div style="width:350px;float:left; line-height:22px;">
            <span class="rojo18"><strong>Your online Safety Box.</strong></span><br /><br />

            You can store any thing you want in your Swisskip account: pictures, videos or documents, accounts, passwords... All the info you upload to Swisskip will be encrypted with the latest safety technology and will only be passed to your Data-Heir once your
            death has been confirmed.
            <br /><br />
            For your most sensitive information, such as bank accounts and passwords you might
            like to choose our patented Swisskip Splitter.
            Swisskip accounts can store 1GB of data.
            Free Swisskip accounts can store 100MB for 3 months
        </div>
        <div style="width:350px;float:left; margin-left:20px;"><img src="/Content/images/idea3.jpg" border="0" /></div>
        <div style="clear:both;height:25px;"></div>

        <span class="rojo18"><strong>“And how will you know I have died, huh?”</strong></span><br /><br />

        <div style="width:350px;float:left;line-height:22px;">
            This was the trickiest part in the design of Swisskip. Luckily, we came with a solution so
            simple and unique that we have been able to
            copyright it. We call it the SKWS for Swisskip
            Witnesses System ©.<br />

            <img src="/Content/images/idea4.jpg" border="0" />
        </div>

        <div style="width:320px;float:left; margin-left:20px; line-height:22px;">Here´s how it works: beside choosing your
        Data-Heir you will have to choose an unlimited number of friends or relatives that you trust very much; they will be responsible for confirming Swisskip about the sad news. They are your Passing-Witnesses.
        <br /><br />
        Only after the appropriate percentage of you Passing-Witnesses have efectively confirmed that you have gone to eternity, Swisskip will release your legacy to your Data- Heir.
        <br /><br />
        As you can guess, we have made all the process very simple, automatic, and we have
        gave you the chance to control a bunch of variables. Take a look.
        </div>
        <div style="clear:both;"></div>

    </div>
</div>

<script>
    $(function () {
        $("#op1").css({ color: "#FFFFFF", background: "#cc0b1c" });
    });
</script>