@{
    //Layout = "~/Views/Shared/_LayoutNotLogged.cshtml";
    ViewBag.Title = "TheProcess";
}

<div id="contenido">
    <h1>Rest in peace... in 4 easy steps</h1>
    <div class="lineagris"></div>
    <div class="txtprocess">
        <div style="width:685px;margin:10px 0; padding:10px 0; overflow:hidden;">
            <div style="margin-left:25px;width:185px; float:left;"><img src="/Content/images/process1.gif" border="0" /></div>
            <div style="margin-top:50px; float:left;">
            <ul>
                <li>Open your Swisskip account and fill the mandatory fields.</li>
            </ul>
            </div>
        </div>

        <div style="width:685px;margin:10px 0; padding:10px 0; overflow:hidden; background-color:#fafafa;">
            <div style="margin-top:20px; float:left; width:450px;">
            <ul>
                <li>All we need is a name and a valid e-mail</li>                <li style="padding-top: 8px;">Swisskip will send an e-Mail to your Data-Heir in order to inform him or her about your decision and confirm the contact information. You will be able to personalize that message.</li>                <li style="padding-top: 8px;">No one else will know who is your Data-Heir.</li>
            </ul>
            </div>

            <div style="margin-left:35px;width:185px; float:left;"><img src="/Content/images/process2.png" border="0" /></div>
        </div>


        <div style="width:685px;margin:10px 0; padding:10px 0; overflow:hidden;">
            <div style="margin-left:25px;width:185px; float:left; margin-top:8px;"><img src="/Content/images/process3.png" border="0" /></div>
            <div style="float:left;">
            <ul>
<li>All we need is their names and a valid e-mail</li><li style="padding-top: 8px;">Swisskip will send them an e-Mail to check everything’s OK.<br />You will be able to personalize that message.</li><li style="padding-top: 8px;">Witnesses will not know who your other witnesses are.</li><li style="padding-top: 8px;">Witnesses will not know who your Data-Heir is.</li><li style="padding-top: 8px;">Your Data-Heir will not know the Passing Witnesses you have<br />      chosen.</li>
            </ul>
            </div>
        </div>

        <div style="width:685px;margin:10px 0; padding:10px 0; overflow:hidden; background-color:#fafafa;">
            <div style="margin-top:30px; float:left; width:450px;">
            <ul>
<li>Store all the info you want to pass: documents, photos, videos...</li><li style="padding-top: 8px;">Your Swisskip Free account will store 100MB for 3 months.</li><li style="padding-top: 8px;">Your Swisskip account will store 1GB for a year. See our plans</li>
            </ul>
            </div>

            <div style="margin-left:35px;width:185px; float:left;"><img src="/Content/images/process4.png" border="0" /></div>
        </div>

        <div style="width:685px;margin-top:30px; overflow:hidden; text-align:center;" class="negro13">
            <span class="rojo13">IMPORTANT:</span> Don’t forget to add <strong>service@swisskip.com</strong> to your address book in<br />            order to avoid Swisskip’s communication from going to your spam folder.<br />
        </div>

    </div>
</div>

<script>
    $(function () {
        $("#op2").css({ color: "#FFFFFF", background: "#cc0b1c" });
    });
</script>